<div class="container" [hidden]="authenticated()">
<form (submit)="login()">

  <div class="form-group">

    <mat-form-field>
      <input type="text" matInput placeholder="Логин" name="username" />
    </mat-form-field>

    <mat-form-field>
      <input type="text" matInput placeholder="Пароль" name="password" />
    </mat-form-field>

  </div>

  <button mat-raised-button color="accent" type="submit">Войти</button>

</form>
</div>
<div class="container" [hidden]="!authenticated()">
  logOut
</div>
