<!--<nav mat-tab-nav-bar class="demo-tab-group">
  <a mat-tab-link
     [routerLink]="['./c']"
     routerLinkActive #link1="routerLinkActive"
     [active]="link1.isActive">
    Войти
  </a>
  <a mat-tab-link
     [routerLink]="['./u']"
     routerLinkActive #link2="routerLinkActive"
     [active]="link2.isActive">
    Регистрация
  </a>
</nav>-->

<div class="main-content">
  <mat-tab-group>
    <mat-tab label="Tab 1">Content 1</mat-tab>
    <mat-tab label="Tab 2">Content 2</mat-tab>
  </mat-tab-group>
</div>
<div class="login-component-container">
  <mat-card-content>
    <mat-card>
      <mat-toolbar>
        <h2 style="color: #FFFFFF">Вход</h2>
      </mat-toolbar>
    <form (submit)="login()">
      <div class="form-group">
        <mat-form-field>
          <input type="text" matInput placeholder="Логин" name="username" [(ngModel)]="model.username" #username="ngModel"  />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input type="text" matInput placeholder="Пароль" name="password" [(ngModel)]="model.password" #username="ngModel"  />
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary"  aria-label="Show an example snack-bar">Войти</button>
    </form>
    </mat-card>
  </mat-card-content>
</div>
