.login-component-container {
  margin: auto;
  width: 50%;
  padding: 10px;
  width: 400px;
}
.mat-toolbar {
  background: blue;
}
.mat-form-field {
  /*
  border: 1px solid black;
  */
  width: 93.7%;
  margin: auto;
  padding: 10px;

}
