<form [formGroup]="addNewDriverGroup">
  <div>
    <div style=" height: 40px;">
      <button matTooltip="Закрыть" mat-icon-button (click)="closeWindow()" style="float: right;">
        <mat-icon style="color: red; position: relative;">clear</mat-icon>
      </button>
    </div>
    <div class="grid__row grid__row--md">
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Имя" formControlName="firstName"/>
      </mat-form-field>
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Отчество" formControlName="middleName"/>
      </mat-form-field>
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Фамилия" formControlName="lastName"/>
      </mat-form-field>
    </div>
    <div class="grid__row grid__row--md">
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Марка транспортного средства" formControlName="carModel"/>
      </mat-form-field>
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Номерной знак транспортного средства" formControlName="carNumber"/>
      </mat-form-field>
    </div>
    <div class="grid__row grid__row--md">
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Марка прицепа" formControlName="trailerModel"/>
      </mat-form-field>
      <mat-form-field class="grid__item">
        <input type="text" matInput placeholder="Номерной знак прицепа" formControlName="trailerNumber"/>
      </mat-form-field>
    </div>
    <button
      style="font-size: 20px; margin-top: 20px; margin-left: 15px;  color: white; width: 150px; font-family: 'Open Sans Condensed', sans-serif; background: linear-gradient(to right, #834d9b, #d04ed6);"
      mat-raised-button (click)="addNewDriver()">ПРИНЯТЬ
    </button>
  </div>
</form>
