<button mat-icon-button (click)="closeWindow()" style=" position: absolute;
    top: 0;
    right: 0;">
  <mat-icon style="float: right; color: red; margin: 3px;">clear</mat-icon>
</button>
<form [formGroup]="addNewDriverGroup">
  <div class="grid__row grid__row--md" style="margin-top: 15px;">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Имя" formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Отчество" formControlName="middleName"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Фамилия" formControlName="lastName"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Марка транспортного средства" formControlName="carModel"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Номерной знак транспортного средства" formControlName="carNumber"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Марка прицепа" formControlName="trailerModel"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Номерной знак прицепа" formControlName="trailerNumber"/>
    </mat-form-field>
  </div>
  <button style="background: linear-gradient(to right,#f83600, #fe8c00); margin-left: 20px; margin-top: 20px;"
          mat-raised-button
          color="accent" (click)="addNewDriver()">Добавить
  </button>
</form>
