.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  flex: 1;
}

.submit--button {
  background: linear-gradient(to right, #834d9b, #d04ed6);
  margin-top: 20px;
  /*
  margin-left: 5px;
  */
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  width: 150px;
}

.submit--button:disabled {
  background: #f7f7f8;
  /*height: 50px;
  width: 135px;*/
  margin-top: 10px;
  margin-left: 5px;
  color: #c8c8c8;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

.grid {
}

.grid__row {
  display: flex;
  flex-direction: column;
}

.grid__item {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}

@media all and ( min-width: 480px ) {

  .grid__row--sm {
    flex-direction: row;
  }

}

@media all and ( min-width: 480px ) {

  .grid__row--sm_button {
    flex-direction: row;
    float: right;
  }

}

@media all and ( min-width: 769px ) and (min-width: 1025px) {

  .grid__row--md {
    flex-direction: row;
  }

}

@media all and ( min-width: 960px ) {

  .grid__row--lg {
    flex-direction: row;
  }

}
