<p>
  change-password works!
</p>
<h2><p>Изменить Пароль: </p></h2>
<div class="update-profile-container">
  <form > <!--(submit)=""-->

    <div>
      <mat-form-field>
<!--
        <input type="text" matInput [ngModel]="user.username" placeholder="Логин" name="username" (input)="user.username=$event.target.value"/>
-->
        <input type="password" matInput placeholder="Текущий пароль"/>
      </mat-form-field>
      <mat-form-field>
        <!--
                <input type="text" matInput [ngModel]="user.username" placeholder="Логин" name="username" (input)="user.username=$event.target.value"/>
        -->
        <input type="password" matInput placeholder="Новый пароль"/>
      </mat-form-field>
      <mat-form-field>
        <!--
                <input type="text" matInput [ngModel]="user.username" placeholder="Логин" name="username" (input)="user.username=$event.target.value"/>
        -->
        <input type="password" matInput placeholder="Повторите новый пароль"/>
      </mat-form-field>
    </div>

    <br>
    <button style="float: right;" mat-raised-button color="accent" type="submit">Сохранить</button>
  </form>
</div>
