.dashboard-container {
  position: absolute;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  margin-top: -8px;
  background: #f7f7f8;
}
/*.mat-button-toggle {
  background-color: #FAFAFA;
  margin-left: -15px;
  height: 53px;
  border: none;
}*/
.dashboard-sidenav {
  display: flex;
  width: 270px;
}
.dashboard-title {
  height:  50px;
  display:table;
  width: 270px;
  text-align: center;
  border-bottom: 1px solid #dfdfdf;
}
.dashboard-title span {
  margin: 0 auto;
  font-size: 25px;
  display:table-cell;
  vertical-align:middle;
  color: #FFFFFF;
  font-family: 'Open Sans Condensed', sans-serif;
}
.example-fill-remaining-space {
  flex: 1 1 auto;
}
.dashboard-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background: #FFFFFF;
  border-bottom: 1px solid #dfdfdf;
}
.dashboard-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  border-top: 5px solid #dfdfdf;
}
.mat-expansion-panel {
  width: 270px;
  background-color: #EEEEEE;
}
.mat-expansion-panel-header {
  font-weight: bold;
  font-size: 14px;
}
.mat-panel-title {
  border: 1px solid red;
  margin-left: 0px;
  height: 25px;
}
.mat-panel-title p {
  border: 1px solid black;
  margin-top: 2px;
  height: 20px;
  color: #424242;
}
.mat-list {
  border: 1px solid orange;
}
.mat-list-item {
  font-size: 13px;
  border: 1px solid green;
  margin-top: -7px;
  height: 300px;
}
.mat-list-item p{
  border: 1px solid red;
}
.dashboard-main-content {
  margin: auto;
  width: 95%;
  padding: 10px;
}
.example-icon {
  padding: 0 14px;
}
.dashboard-header-right-button {
  margin-left: 1600px;
}
.dashboard-main-content-header {
  box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.line-toggle{
  height: 10px;
  line-height: 8px;
}
.list-items-navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-item-nav {
  float: right;
}
.list-item-nav a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  color: #BDBDBD;
}
.list-item-nav a hover {
  background-color: red;
  color: #ffe; /* Цвет текста активного пункта */
}
.mat-button-toggle {
  height: 40px;
  margin: auto;
}
