<ng-container>
  <mat-toolbar class="dashboard-header">
    <span class="example-fill-remaining-space"></span>
    <div class="navigation-panel">
      <ul class="list-items-navigation">
        <li class="list-item-nav">
          <div [ngStyle]="{'display' : (screenWidth > 840) ? 'none' : 'block'}">
            <button mat-icon-button type="button" (click)="sidenavToggle()">
              <mat-icon *ngIf="!viewProp">menu</mat-icon>
              <mat-icon *ngIf="viewProp">close</mat-icon>
            </button>
          </div>
        </li>
        <li class="list-item-nav">
          <button mat-icon-button (click)="openDialog()">
            <mat-icon>power</mat-icon>
          </button>
        </li>
        <li class="list-item-nav">
          <a [routerLink]="['./profile']">
            <button mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
          </a>
        </li>
        <li class="list-item-nav" *ngIf="checkUser">
          <a [routerLink]="['/admin']">
            <button mat-icon-button (click)="tested()">
              <mat-icon>open_in_new</mat-icon>
            </button>
          </a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
  <mat-sidenav-container class="dashboard-container">
    <mat-sidenav class="dashboard-sidenav" [fixedInViewport]="true" #sidenav [opened]="screenWidth > 840"
                 [mode]="(screenWidth > 840) ? 'side' : 'over'">
      <mat-accordion>
        <div class="dashboard-title" style="border-bottom: 1px solid #BDBDBD; ">
          <span><b>Панель Управления</b></span>
        </div>
        <ul class="left-menu">
          <li class="left-menu-item">
            <a [routerLink]="['./profile']" routerLinkActive="active">
              <p>Мой профиль</p></a>
            <a [routerLink]="['./documents']" routerLinkActive="active">
              <p>Мои документы</p></a>
            <a [routerLink]="['./agents']" routerLinkActive="active">
              <p>Мои контрагенты</p></a>
            <a [routerLink]="['./drivers']" routerLinkActive="active">
              <p>Мои водители</p></a>
            <hr color="#BDBDBD" size="1" style="margin: 15px; background-color: #BDBDBD; ">
            <a [routerLink]="['./new']" routerLinkActive="active">
              <p>Создать документ</p></a>
        </ul>
      </mat-accordion>
    </mat-sidenav>

    <div class="dashboard-main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-container>
  <mat-toolbar class="dashboard-footer">
  </mat-toolbar>
</ng-container>

