<!--
<h2>Вы действительно хотите обновить ?</h2>
<h2>Вы действительно хотите изменить пароль ?</h2>

<h2>профиля успешно изменен</h2>
<h2>пароль успешно изменен</h2>
-->

<mat-card style="margin: 20px;">
  <mat-card-header>
    <mat-card-title>Мой профиль</mat-card-title>
    <mat-card-subtitle>Редактирование</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content style="margin-top: 30px;">
    <span><p
      style="font-size: 35px; font-family: 'Open Sans Condensed', sans-serif; color: #9E9E9E; border-bottom: 1px solid #E0E0E0; padding-bottom: 15px;">Личные данные</p></span>
    <form (submit)="updateProfile(user)" [formGroup]="firstFormGroup">
      <div class="grid__row grid__row--md">
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.firstName" formControlName="firstName" placeholder="Имя"
                 name="firstName"/>
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.middleName" formControlName="middleName"
                 placeholder="Отчество"
                 name="middleName"/>
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.lastName" formControlName="lastName" placeholder="Фамилия"
                 name="lastName"/>
        </mat-form-field>
      </div>

      <div class="grid__row grid__row--md">
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.address" formControlName="address" placeholder="Адрес"
                 name="address"/>
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.phone" formControlName="phone" placeholder="Телефон"
                 name="phone"/>
        </mat-form-field>
      </div>

      <div class="grid__row grid__row--md">
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.unp" formControlName="unp" placeholder="УНП"
                 name="middleName"
          />
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.organization" formControlName="organization"
                 placeholder="Организация" name="organization"
          />
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.position" formControlName="position" placeholder="Должность"
                 name="position"
          />
        </mat-form-field>
      </div>

      <div class="grid__row grid__row--md">
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.bank" formControlName="bank" placeholder="Банк" name="bank"
          />
        </mat-form-field>
      </div>

      <div class="grid__row grid__row--md">
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.rs" formControlName="rs" placeholder="РС" name="rs"
          />
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.bik" formControlName="bik" placeholder="БИК" name="bik"
          />
        </mat-form-field>
        <mat-form-field class="grid__item">
          <input type="text" matInput [(ngModel)]="user.ks" formControlName="ks" placeholder="КС" name="ks"
          />
        </mat-form-field>
      </div>
      <button
        style="font-size: 20px; margin-top: 20px;  color: white; width: 150px; font-family: 'Open Sans Condensed', sans-serif; background: linear-gradient(to right, #834d9b, #d04ed6);"
        mat-raised-button>ПРИНЯТЬ
      </button>
<!--
      <button class="submit&#45;&#45;button" mat-raised-button type="submit">ПРИНЯТЬ</button>
-->
    </form>
    <span><p
      style="font-size: 35px; font-family: 'Open Sans Condensed', sans-serif; color: #9E9E9E; border-bottom: 1px solid #E0E0E0; padding-bottom: 15px;">Изменение пароля</p></span>
    <app-change-password [user]="user"></app-change-password>
  </mat-card-content>
</mat-card>
