<!--
<mat-grid-list cols="3" style="border: 1px solid black;" rowHeight="800px">
  <mat-grid-tile [colspan]="2" [rowspan]="1" style="border: 1px solid blue;">
    <mat-card class="profile-card" style="width: 800px; height: 700px;">
      <mat-card-header style="border-bottom: 1px solid black;">
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
       <nav mat-tab-nav-bar class="demo-tab-group">
          <a mat-tab-link
             [routerLink]="['./u']"
             routerLinkActive #link2="routerLinkActive"
             [active]="link2.isActive">
            Изменить Профиль
          </a>
          <a mat-tab-link
             [routerLink]="['./c']"
             routerLinkActive #link1="routerLinkActive"
             [active]="link1.isActive">
            Изменить Пароль
          </a>
          <a mat-tab-link
             [routerLink]="['./d']"
             routerLinkActive #link3="routerLinkActive"
             [active]="link3.isActive">
            Удалить Профиль
          </a>
        </nav>
        <router-outlet></router-outlet>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="border: 1px solid red;">&ndash;&gt;
    <mat-card class="profile-card" style="border: 1px solid green; width: 300px; height: 300px; margin-top: -200px; ">
      <mat-card-header>
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{user.username}}
        Имя: Михаил <br>
        Фамилия Чернявский
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
-->

<!-- ТУТ PRODUCTION -->
<!--<mat-grid-list cols="3" rowHeight="650px">
  <mat-grid-tile class="grid-title-1" [colspan]="2" [rowspan]="1" >
    <mat-card class="grid-card-1">
      <mat-card-header style="border-bottom: 1px solid #dfdfdf;">
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <mat-tab-group class="profile-tab-group">
          <mat-tab label="Изменить Профиль">
            <app-update-form [user]="user"></app-update-form>
          </mat-tab>
          <mat-tab label="Изменить Пароль">
            <app-destroy-form [user]="user"></app-destroy-form>
          </mat-tab>
          <mat-tab label="Удалить Профиль">
            <app-change-password [user]="user"></app-change-password>
          </mat-tab>
        </mat-tab-group>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="grid-card-2"  >
      <mat-card-header style="background: url(http://i.share.pho.to/46997b5c_o.jpeg); width: 53.64583333333333%; height: 140px; margin-top: -25px; margin-left: -25px;">
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>-->


<!--TYT -->

<!--<mat-grid-list style="border: 1px solid black;" cols="7" rowHeight="900px;">
  <mat-grid-tile  style="border: 1px solid red;  " [colspan]="7" [rowspan]="1" >
    <div style="width: 100%; border: 1px solid yellow;
    margin: 0 auto;
    height: 100%;
    margin-bottom: 50px;">
      <div style="width: 70%; border: 1px solid blue;">

      <mat-card style="float: left; " >
      <mat-card-header>
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
          <app-update-form [user]="user"></app-update-form>
      </mat-card-content>
      </mat-card>
      </div>
      <div style="width: 41%;">
      <mat-card style="float: right;">
      <mat-card-header style="border-bottom: 1px solid red;">
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <div style="border: 1px solid black; width: 100%;">
          TEsTTT
        </div>
      </mat-card-content>

      </mat-card>
      </div>
    </div>

  </mat-grid-tile>




</mat-grid-list>-->
      <!--<mat-card class="grid-card-1">
        <mat-card-header style="border-bottom: 1px solid #dfdfdf;">
          <mat-card-title>Мой профиль</mat-card-title>
          <mat-card-subtitle>Редактирование</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <mat-tab-group class="profile-tab-group">
            <mat-tab label="Изменить Профиль">
              <app-update-form [user]="user"></app-update-form>
            </mat-tab>
            <mat-tab label="Изменить Пароль">
              <app-destroy-form [user]="user"></app-destroy-form>
            </mat-tab>
            <mat-tab label="Удалить Профиль">
              <app-change-password [user]="user"></app-change-password>
            </mat-tab>
          </mat-tab-group>
        </mat-card-content>
      </mat-card>

      <mat-card class="grid-card-2"  >
        <mat-card-header style="background: url(http://i.share.pho.to/46997b5c_o.jpeg); width: 53.64583333333333%; height: 140px; margin-top: -25px; margin-left: -25px;">
          <mat-card-title>Мой профиль</mat-card-title>
          <mat-card-subtitle>Редактирование</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
      </mat-card>-->
   <!-- <a style=" float: left;
    background: red;
    text-align: center;
    line-height: 45px;
    width: 99px;
    text-transform: uppercase;
    border-right: 1px solid black;
}
" href="">Кнопка 1</a>
    <a style=" float: left;
    background: red;
    text-align: center;
    line-height: 45px;
    width: 99px;
    text-transform: uppercase;
    border-right: 1px solid black;
}
" href="">Кнопка 2</a>
    <a style=" float: left;
    background: red;
    text-align: center;
    line-height: 45px;
    width: 99px;
    text-transform: uppercase;
    border-right: 1px solid black;
}
" href="">Кнопка 3</a>
    <a style=" float: left;
    background: red;
    text-align: center;
    line-height: 45px;
    width: 99px;
    text-transform: uppercase;
    border-right: 1px solid black;
}
" href="">Кнопка 4</a>
    <a style=" float: left;
    background: red;
    text-align: center;
    line-height: 45px;
    width: 99px;
    text-transform: uppercase;
    border-right: 1px solid black;
}
" href="">Кнопка 5</a>-->

<!--<div class="container">
  <div class="box">
    <div>content1</div>
    <div>content2</div>
    <div>content3</div>
  </div>
</div>

<!--<h2> Убрал Grid</h2>
<mat-card style="float: left;">
  <mat-card-content>
    <mat-tab-group class="profile-tab-group">
      <mat-tab label="Изменить Профиль">
        <app-update-form [user]="user"></app-update-form>
      </mat-tab>
      <mat-tab label="Изменить Пароль">
        <app-destroy-form [user]="user"></app-destroy-form>
      </mat-tab>
      <mat-tab label="Удалить Профиль">
        <app-change-password [user]="user"></app-change-password>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
<mat-card style="float: right;">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
</mat-card>-->
<!--
<mat-card-content style="float: left; width: 970px; height: 700px; margin: auto;">
  <mat-card class="grid-card-1">
    <mat-card-header style="border-bottom: 1px solid #dfdfdf;">
      <mat-card-title>Мой профиль</mat-card-title>
      <mat-card-subtitle>Редактирование</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-tab-group class="profile-tab-group">
        <mat-tab label="Изменить Профиль">
          <app-update-form [user]="user"></app-update-form>
        </mat-tab>
        <mat-tab label="Изменить Пароль">
          <app-destroy-form [user]="user"></app-destroy-form>
        </mat-tab>
        <mat-tab label="Удалить Профиль">
          <app-change-password [user]="user"></app-change-password>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</mat-card-content>
<mat-card-content style="float: left; width: 250px; height: 100px ; margin: auto;">
  <mat-card class="grid-card-2"  >
    <mat-card-header style="background: url(http://i.share.pho.to/46997b5c_o.jpeg); width: 300px; height: 140px; margin-top: -25px; margin-left: -25px;">
      <mat-card-title>Мой профиль</mat-card-title>
      <mat-card-subtitle>Редактирование</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
  </mat-card>
</mat-card-content>


-->


<div class="flex-container wrap" style="border: 1px solid black;">
  <div class="flex-item1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Мой профиль</mat-card-title>
        <mat-card-subtitle>Редактирование</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
       <app-update-form [user]="user"></app-update-form>
      </mat-card-content>
    </mat-card>
  </div>
<!--
  <div class="flex-item2">
    <p>
      The Shiba Inu is the smallest
    </p>
  </div>
-->

</div>



