.mat-grid-list {
  margin-top: 28px;
}
.grid-title-1 {
}
.grid-card-1 {
  width: 94%;
  margin-top: -100px;
  height: 500px;
  margin-left: -25px;
}
.grid-card-2 {
  width: 88%;
  margin-top: -200px;
  height: 400px;
  margin-left: 4px;
}
.mat-card-content {
  margin-top: 30px;
}

/* test */
.container{overflow:hidden;width:900px; border: 1px solid black;}
.box{white-space:nowrap; border: 1px solid red;}
.box div{width:250px;display:inline-block;border:1px solid black}
