<div *ngIf="documents.length === 0" class="alert alert-danger">
  <span style="font-family: 'Open Sans Condensed', sans-serif; font-size: 20px;">Информация: <b>Список документов пуст.</b></span>
</div>
<div *ngIf="documents.length > 0">
<app-document-detail *ngIf="selectedDocument " [document]="selectedDocument"
                     (deleteElement)="deleteElement($event)"></app-document-detail>
<span>
  <p style="font-size: 35px;
 font-family: 'Open Sans Condensed', sans-serif; color: #9E9E9E; border-bottom: 1px solid #E0E0E0;
  padding-bottom: 15px;">Документы пользователя:
  <span style="float: right;">
    <span style="font-size: 17px;">Вид: </span>
    <button mat-icon-button (click)="listView = false"><mat-icon>view_module</mat-icon></button>
    <button mat-icon-button (click)="listView = true"><mat-icon>list</mat-icon></button>
  </span>
  </p>
</span>
<div *ngIf="listView">
  <mat-form-field class="data_filter">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Введите ...">
  </mat-form-field>
  <mat-table #table [dataSource]="dataSource" style="background: #f7f7f8; border-bottom:1px solid #d9d9da;">
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Название</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef>Дата создания</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.date}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="more">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" style="text-align: center;">
        <p>
          <button mat-button (click)="documentInfo(element)">Подробнее</button>
        </p>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
<div class="cards" *ngIf="!listView">
  <mat-card class="card" *ngFor="let document of documents; let i=index;" style=" margin: 10px;">
    <mat-card-header style="border-bottom: 1px solid #E0E0E0;">
      <mat-card-title style="font-size: 1.2em;">Название: {{document.name}}</mat-card-title>
      <mat-card-subtitle>Дата создания: {{document.date}}</mat-card-subtitle>
    </mat-card-header>
    <div style="height: 400px;" *ngIf="waitProp">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
    <div style="height: 400px" *ngIf="!waitProp">
      <img *ngIf="!onLoad" class="zoom" style="height: 400px;" src="{{url[i]}}" width="250" height="400">
    </div>
    <mat-card-actions style="background: #f7f7f8;">
      <button mat-button class="button--next" (click)="documentInfo(document)">Подробнее</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
