<form [formGroup]="updateUserForm" class="product__item">
  <div class="grid__row grid__row--md" style="margin-top: 30px;">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Имя" formControlName="firstName"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Отчество" formControlName="middleName"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Фамилия" formControlName="lastName"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <mat-select placeholder="Выберите роль" formControlName="role" disableRipple>
        <mat-option *ngFor="let type of typeOfRole" [value]="type.value">
          {{type.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Организация" formControlName="organization"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Должность" formControlName="position"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Адрес" formControlName="address"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Телефон" formControlName="phone"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="Банк" formControlName="bank"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="БИК" formControlName="bik"/>
    </mat-form-field>
  </div>
  <div class="grid__row grid__row--md">
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="УНП" formControlName="unp"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="РС" formControlName="rs"/>
    </mat-form-field>
    <mat-form-field class="grid__item">
      <input type="text" matInput placeholder="КС" formControlName="ks"/>
    </mat-form-field>
  </div>
  <div>
    <button style="font-size: 20px; margin-left: 15px; margin-top: 10px; color: white; width: 150px; font-family: 'Open Sans Condensed', sans-serif;    background: linear-gradient(to right, #8e2de2, #4a00e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */"
            mat-raised-button (click)="updateUser()">ОБНОВИТЬ
    </button>
  </div>
</form>
