

  <p style="font-size: 35px;
 font-family: 'Open Sans Condensed', sans-serif; color: #9E9E9E;">
    <button mat-mini-fab color="warn" matTooltip="Новый пользователь" (click)="openDialog()" style="margin: 10px;font-size: 15px;">+</button>
    Зарегистрированные пользователи:
  </p>

<mat-table #table [dataSource]="dataSource"
           style="background: #f7f7f8; border-top: 1px solid #d9d9da; border-bottom: 1px solid #d9d9da; ">
  <ng-container matColumnDef="configuration">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button style="margin-right: 10px;" mat-icon-button (click)="checkAgents(element)" matTooltip="Редактирование">
        <mat-icon style="color: #757575;">build</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser(element)" matTooltip="Удалить пользователя">
        <mat-icon style="color: #757575;">delete</mat-icon>
      </button>

      <!--
            <button mat-button style="width: 74px; float: left;" (click)="checkAgents(element)">Подробнее</button>
      -->
      <mat-menu #download="matMenu">
        <button mat-menu-item (click)="checkAgents(element)">
          <mat-icon>label</mat-icon>
          <span>Контрагенты</span>
        </button>
        <button mat-menu-item (click)="downloadDocumentInExcel()">
          <mat-icon>label</mat-icon>
          <span>Водители</span>
        </button>
        <button mat-menu-item (click)="downloadDocumentInExcel()">
          <mat-icon>label</mat-icon>
          <span>Документы</span>
        </button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="username">
    <mat-header-cell *matHeaderCellDef> Логин</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.username}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Имя</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Фамилия</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <mat-header-cell *matHeaderCellDef> Отчество</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.middleName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="unp">
    <mat-header-cell *matHeaderCellDef> УНП</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.unp}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="role">
    <mat-header-cell *matHeaderCellDef> Роль</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.roles[0].name}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<p *ngIf="checkButton" style="font-size: 35px;
 font-family: 'Open Sans Condensed', sans-serif; color: #9E9E9E;">Информация о выбранном пользователе:
</p>
<mat-tab-group dynamicHeight="[true]" *ngIf="checkButton" style="min-height: 600px;">
  <mat-tab label="Профиль">
    <app-update-user class="grid__item" [user]="choiceUser" (onVotedAdmin)="onVotedAdmin($event)"></app-update-user>
  </mat-tab>
  <mat-tab label="Контрагенты">
    <app-admin-agents class="grid__item" *ngIf="arrayOfAgents" [agents]="arrayOfAgents"></app-admin-agents>
  </mat-tab>
  <mat-tab label="Водители">
    <app-admin-drivers class="grid__item" *ngIf="arrayOfDrivers" [drivers]="arrayOfDrivers"></app-admin-drivers>
  </mat-tab>
  <mat-tab label="Документы">
    <app-admin-documents class="grid__item" *ngIf="arrayOfDocuments"
                         [documents]="arrayOfDocuments"></app-admin-documents>
  </mat-tab>
</mat-tab-group>
<app-delete-user *ngIf="selectedUsersForDeleted.length > 0" [users]="selectedUsersForDeleted"
                 (deleteArray)="deleteArray($event)"></app-delete-user>
