<div *ngIf="agents.length === 0" class="alert alert-danger">
  <span style="font-family: 'Open Sans Condensed', sans-serif; font-size: 20px;">Информация: <b>Список контрагентов пуст.</b></span>
</div>
<mat-table *ngIf="agents.length > 0"  #table [dataSource]="dataSource" style="background: #f7f7f8; border-bottom: 1px solid #d9d9da;">

  <ng-container matColumnDef="configuration">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button mat-button [matMenuTriggerFor]="menu"><mat-icon style="margin: 10px;">arrow_drop_down_circle</mat-icon>Подробнее</button>
      <mat-menu #menu="matMenu" style="width: 300px;">
        <button mat-menu-item (click)="updateAgent(element)"><mat-icon>edit</mat-icon>Изменить</button>
        <button mat-menu-item (click)="deleteAgent(element)"><mat-icon>label</mat-icon>Удалить</button>
        <button mat-menu-item (click)="sharedDocuments(element)"><mat-icon>share</mat-icon>Полученные документы</button>
      </mat-menu>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <mat-header-cell *matHeaderCellDef> Имя</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.firstName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <mat-header-cell *matHeaderCellDef> Фамилия</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.lastName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="middleName">
    <mat-header-cell *matHeaderCellDef> Отчество</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.middleName}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="unp">
    <mat-header-cell *matHeaderCellDef> УНП</mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.unp}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<app-admin-agents-update [agent]="selectedAgentForUpdate" (onVotedAgentsAdmin)="onVotedAgentsAdmin($event)"></app-admin-agents-update>
<app-admin-shared-documents *ngIf="sharedProp"  [documents]="selectedAgentsForSharedDocuments"></app-admin-shared-documents>
<app-delete-agent *ngIf="selectedAgentsForDeleted.length > 0" [agents]="selectedAgentsForDeleted" (deleteArray)="deleteArray($event)"></app-delete-agent>
<!--*ngIf="selectedAgentsForSharedDocuments.length > 0"-->
<!--
<div class="grid__item" *ngIf="selectedAgentsForDeleted">
-->

<!--(onVotedAgentsAdmin)="onVotedAgentsAdmin($event)-->
<!--
*ngIf="selectedAgentsForUpdate.length > 0"-->
