<mat-card *ngIf="items.length > 0">
  <mat-card-header>
    <mat-card-title>Редактирование</mat-card-title>
    <mat-card-subtitle>изменение существующих водителей</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="grid__item" style="margin-top: 20px;">
    <form [formGroup]="updateDriverForm">
      <div formArrayName="items">
        <div class="product__item" *ngFor="let element of items.controls; let i=index" [formGroupName]="i">
          <div style=" height: 40px;">
            <button matTooltip="Закрыть" mat-icon-button (click)="closeWindow(i)" style="float: right;">
              <mat-icon style="color: red; position: relative;">clear</mat-icon>
            </button>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Имя" formControlName="firstName"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Отчество" formControlName="middleName"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Фамилия" formControlName="lastName"/>
            </mat-form-field>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Марка транспортного средства" formControlName="carModel"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Номерной знак транспортного средства"
                     formControlName="carNumber"/>
            </mat-form-field>
          </div>
          <div class="grid__row grid__row--md">
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Марка прицепа" formControlName="trailerModel"/>
            </mat-form-field>
            <mat-form-field class="grid__item">
              <input type="text" matInput placeholder="Номерной знак прицепа" formControlName="trailerNumber"/>
            </mat-form-field>
          </div>
          <div>
            <button
              style="font-size: 20px; margin-top: 20px; margin-left: 15px;  color: white; width: 150px; font-family: 'Open Sans Condensed', sans-serif; background: linear-gradient(to right, #834d9b, #d04ed6);"
              mat-raised-button (click)="updateDriver(element)">ОБНОВИТЬ
            </button>
          </div>
        </div>
        <div class="progress-bar">
          <mat-progress-bar *ngIf="onLoad" mode="indeterminate"></mat-progress-bar>
        </div>
        <div>
          <button style="font-size: 20px; background: #E91E63; margin-top: 5px; font-family: 'Open Sans Condensed', sans-serif; color: white;
   margin-left: 5px; float: right;" mat-raised-button (click)="updateAllDrivers()">ОБНОВИТЬ ВСЕ
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>
