<div class="product__item" *ngIf="document.info !== ''">
  <div class="grid__row grid__row--md">
    <!-- <span class="product__title_left">
       <button mat-icon-button [matMenuTriggerFor]="menu">
         <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
         <button mat-menu-item [matMenuTriggerFor]="download">
           <mat-icon>file_download</mat-icon>
           <span>Скачать</span>
         </button>
         <button mat-menu-item (click)="printDocument()">
           <mat-icon>print</mat-icon>
           <span>Печать</span>
         </button>
         <button mat-menu-item (click)="deleteDocument()">
           <mat-icon>delete</mat-icon>
           <span>Удалить</span>
         </button>
       </mat-menu>
       <mat-menu #download="matMenu">
          <button mat-menu-item (click)="downloadDocumentInPdf()">
           <mat-icon>label</mat-icon>
           <span>.pdf</span>
         </button>
         <button mat-menu-item (click)="downloadDocumentInExcel()">
           <mat-icon>label</mat-icon>
           <span>.xlsx</span>
         </button>
       </mat-menu>
     </span>-->
    <div class="grid__item">
      <button mat-menu-item [matMenuTriggerFor]="download">
        <mat-icon>file_download</mat-icon>
        <span>Скачать</span>
      </button>
    </div>
    <div class="grid__item">
      <button mat-menu-item (click)="printDocument()">
        <mat-icon>print</mat-icon>
        <span>Печать</span>
      </button>
    </div>
    <div class="grid__item">
      <button mat-menu-item (click)="deleteDocument()">
        <mat-icon>delete</mat-icon>
        <span>Удалить</span>
      </button>
    </div>
    <mat-menu #download="matMenu">
      <button mat-menu-item (click)="downloadDocumentInPdf()">
        <mat-icon>label</mat-icon>
        <span>.pdf</span>
      </button>
      <button mat-menu-item (click)="downloadDocumentInExcel()">
        <mat-icon>label</mat-icon>
        <span>.xlsx</span>
      </button>
    </mat-menu>
    <div class="grid__item" style="float: right;">
      <button mat-menu-item (click)="downloadDocumentInExcel()">
        <mat-icon>label</mat-icon>
        <span>.testtest</span>
      </button>
    </div>

  </div>
  <div class="progress-bar">
    <mat-progress-bar *ngIf="onLoad" mode="indeterminate"></mat-progress-bar>
  </div>
    <pdf-viewer [src]="document.documentUrl" [original-size]="true"></pdf-viewer>
</div>

