<h2>Плитка/список</h2>
<h2>Sharing</h2>
<h2>Поиск</h2>
<app-document-detail *ngIf="selectedDocument" [document]="selectedDocument" (deleteElement)="deleteElement($event)"></app-document-detail>
<span><p style="font-size: 35px; font-family: 'Open Sans Condensed', sans-serif; color: #9E9E9E; border-bottom: 1px solid #E0E0E0; padding-bottom: 15px;">Список всех документов</p></span>
<div class="cards">
  <mat-card class="card" *ngFor="let document of allDocuments; let i=index;" style=" margin: 10px;">
    <mat-card-header>
      <mat-card-title style="font-size: 1.2em;">Название: {{document.name}}</mat-card-title>
      <mat-card-subtitle>Дата создания: {{document.date}}</mat-card-subtitle>
    </mat-card-header>
    <div style="height: 400px;" *ngIf="waitProp">
      <mat-progress-bar mode="buffer"></mat-progress-bar>
    </div>
      <div style="height: 400px" *ngIf="!waitProp">
        <img *ngIf="!onLoad" class="zoom" style="height: 400px;" src="{{url[i]}}" width="250" height="400">
      </div>
    <mat-card-actions>
      <button mat-button class="button--next" (click)="documentInfo(document, url[i])">Подробнее</button>
    </mat-card-actions>
  </mat-card>
</div>
