<!--
<h3 *ngIf="isLoading"><mat-progress-bar mode="indeterminate"></mat-progress-bar></h3>
<h3 *ngIf="!isLoading">Select a hero:</h3>

<nav>
  <button (click)="getHeroes()" class="btn btn-primary">Refresh</button>
  <a *ngFor="let hero of heroes | async" (click)="select(hero)">{{hero.name}}</a>
</nav>

<div *ngIf="selectedHero">
  <hr>
  <h2>Hero Detail</h2>
  <h3>Editing: {{selectedHero.name}}</h3>
&lt;!&ndash;
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
&ndash;&gt;
</div>
-->

<!--<form [formGroup]="documentForm" (ngSubmit)="onSubmit()">



  <div formArrayName="secretLairs" class="well well-lg">
   <div *ngFor="let address of secretLairs.controls; let i=index" [formGroupName]="i" >
      {{address}}

    <div style="margin-left: 1em;">
      <div class="form-group">
        <label class="center-block">Street:
          <input class="form-control" formControlName="street">
        </label>
      </div>
    </div>
  </div>
  <button (click)="addProduct()" type="button">Add a Secret Lair</button>
  </div>

</form>-->
<!--
<form [formGroup]="documentForm" (ngSubmit)="prepareSaveHero()">
  <button type="submit" class="btn btn-success">Save</button>
  <div class="form-group">
    <label class="center-block">Name:
      <input class="form-control" formControlName="name">
    </label>
  </div>

  <mat-form-field style="width: 500px;">
    <mat-select placeholder="Выберите тип документа " (change)="searchIndex()" formControlName="typeOfDocument">
      <mat-option *ngFor="let type of typeOfDocument" [value]="type.id">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div *ngIf="index_">
    <mat-form-field style="width: 500px;">
      <mat-select placeholder="Выберите документ из категории - {{elementOfType.name}}">
        <mat-option *ngFor="let type of elementOfType.documents" [value]="type">
          {{type.document}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div formArrayName="secretLairs" class="well well-lg">
    <label class="center-block">Street:
      <input class="form-control" formControlName="measure">
    </label>

    <button (click)="addProduct()" type="button">Add a Secret Lair</button>
  </div>

</form>
-->

<form [formGroup]="documentForm" (ngSubmit)="qqqwerty()">
  <mat-form-field style="width: 500px;">
    <mat-select placeholder="Выберите тип документа " (change)="searchIndex()" formControlName="typeOfDocument">
      <mat-option *ngFor="let type of typeOfDocument" [value]="type.id">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="index_">
    <mat-form-field style="width: 500px;">
      <mat-select (change)="cmdTest()" placeholder="Выберите документ из категории - {{elementOfType.name}}">
        <mat-option *ngFor="let type of elementOfType.documents" [value]="type">
          {{type.document}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
<!--  <div *ngIf="documentForm.controls">
  <label class="center-block">Street:
    <input class="form-control" formControlName="name">
  </label>
  </div>-->
<!--
  <button (click)="qqqwerty()" type="button">Add a Secret Lair</button>
-->

<!--
  <div [hidden]="!tnDocument">
-->


  <div formArrayName="products" class="well well-lg">
    <div *ngFor="let address of products.controls; let i=index" [formGroupName]="i" >
      <!-- The repeated address template -->
      <h4>Address #{{i + 1}}</h4>

<!--
      {{address.value.we34ight | json}}
-->

      {{address.value.weight}}
      <br>
      <div *ngIf="(address.value.weight | json) != '{}'">
        <p> DONE !!!</p>
      </div>

      <div *ngIf="address.value.weight2">
        <p> FAIL </p>
      </div>
      <label class="center-block">Street:
      <input class="form-control" formControlName="name">
    </label>

      <label class="center-block">Street:
        <input class="form-control" formControlName="measure">
      </label>

    </div>

  </div>

  <button (click)="addLair()" type="button">Add a Secret Lair</button>
<!--
  </div>
-->
  <button type="submit">TEST_BUTTON</button>
</form>
