<div class="registration-component-container">
<mat-card-content>
  <mat-card>
    <mat-toolbar>
      <h2 style="color: #FFFFFF">Регистрация</h2>
    </mat-toolbar>
    <mat-horizontal-stepper #stepper="matHorizontalStepper" [linear]="isLinear" style="background: #FAFAFA;">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Личные данные</ng-template>
          <div class="registration-main-form-content">
            <div class="form-group4">
              <mat-form-field class="form-field-group4">
                <input matInput placeholder="Логин" formControlName="username" [(ngModel)]="user.username" required>
              </mat-form-field>
              <mat-form-field class="form-field-group4">
                <input matInput placeholder="Пароль" type="password" formControlName="password" [(ngModel)]="user.password"  required>
              </mat-form-field>
            </div>
            <br>
            <div class="action-buttons-line">
              <mat-action-row>
                <button mat-button matStepperNext>Вперёд</button>
              </mat-action-row>
            </div>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Информация о себе</ng-template>
          <div class="registration-main-form-content">
            <div class="form-group2">
              <mat-form-field class="form-field-group2">
                <input matInput placeholder="Имя" formControlName="firstName" [(ngModel)]="user.firstName" required>
              </mat-form-field>
              <mat-form-field class="form-field-group2">
                <input matInput placeholder="Отчество" formControlName="middleName" [(ngModel)]="user.middleName" required>
              </mat-form-field>
              <mat-form-field class="form-field-group2">
                <input matInput placeholder="Фамилия" formControlName="lastName" [(ngModel)]="user.lastName"  required>
              </mat-form-field>
            </div>
            <br>
            <div class="action-buttons-line">
              <mat-action-row>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Вперёд</button>
              </mat-action-row>
            </div>
          </div>
        </form>
      </mat-step>


      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Другая информация</ng-template>
          <div class="registration-main-form-content">
            <div class="form-group3">
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="УНП" matTooltip="Учётный Номер Плательщика" [matTooltipPosition]="position" formControlName="unp" [(ngModel)]="user.unp" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Организация"  formControlName="organization" [(ngModel)]="user.organization" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Должность" formControlName="position" [(ngModel)]="user.position"  required>
              </mat-form-field>

              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Адрес" formControlName="address" [(ngModel)]="user.address"  required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Телефон" formControlName="phone" [(ngModel)]="user.phone" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Банк" formControlName="bank" [(ngModel)]="user.bank"  required>
              </mat-form-field>

              <mat-form-field class="form-field-group3">
                <input matInput placeholder="РС"  matTooltip="Расчетный Счет" [matTooltipPosition]="position" formControlName="rs" [(ngModel)]="user.rs" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="БИК" matTooltip="Банковский Идентификационный Код" [matTooltipPosition]="position" formControlName="bik" [(ngModel)]="user.bik" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="КС" matTooltip="Корреспондентский Счет" [matTooltipPosition]="position" formControlName="ks" [(ngModel)]="user.ks" required>
              </mat-form-field>
            </div>
            <br>
            <div class="action-buttons-line">
              <mat-action-row>
                <button mat-button matStepperPrevious>Назад</button>
                <button mat-button matStepperNext>Вперёд</button>
              </mat-action-row>
            </div>
           </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Подтверждение</ng-template>
        <mat-accordion class="example-headers-align">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Личные данные
              </mat-panel-title>
              <mat-panel-description>
                Описание
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="form-group4">
              <mat-form-field class="form-field-group4">
                <input matInput placeholder="Логин" type="text" [(ngModel)]="user.username"  required>
              </mat-form-field>

              <mat-form-field class="form-field-group4">
                <input matInput placeholder="Пароль" type="text" [(ngModel)]="user.password"  required>
              </mat-form-field>
            </div>
            <br>
            <div class="action-buttons-line">
              <mat-action-row>

              </mat-action-row>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Информация о себе
              </mat-panel-title>
              <mat-panel-description>
                Описание
                <mat-icon>map</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="form-group2">
              <mat-form-field class="form-field-group2">
                <input matInput placeholder="Имя" type="text" [(ngModel)]="user.firstName"  required>
              </mat-form-field>
              <mat-form-field class="form-field-group2">
                <input matInput placeholder="Отчество" type="text" [(ngModel)]="user.middleName"  required>
              </mat-form-field>
              <mat-form-field class="form-field-group2">
                <input matInput placeholder="Фамилия" type="text" [(ngModel)]="user.lastName"  required>
              </mat-form-field>
            </div>
            <br>
            <div class="action-buttons-line">
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Свернуть</button>
              </mat-action-row>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Другая информация
              </mat-panel-title>
              <mat-panel-description>
                Описание
                <mat-icon>date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="form-group3">
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="УНП" matTooltip="Учётный Номер Плательщика" [matTooltipPosition]="position" [(ngModel)]="user.unp" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Организация" [(ngModel)]="user.organization" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Должность" [(ngModel)]="user.position" required>
              </mat-form-field>

              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Адрес" [(ngModel)]="user.address" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Телефон" [(ngModel)]="user.phone" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="Банк" [(ngModel)]="user.bank" required>
              </mat-form-field>

              <mat-form-field class="form-field-group3">
                <input matInput placeholder="РС"  matTooltip="Расчетный Счет" [matTooltipPosition]="position" [(ngModel)]="user.rs" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="БИК" matTooltip="Банковский Идентификационный Код" [matTooltipPosition]="position" [(ngModel)]="user.bik" required>
              </mat-form-field>
              <mat-form-field class="form-field-group3">
                <input matInput placeholder="КС" matTooltip="Корреспондентский Счет" [matTooltipPosition]="position" [(ngModel)]="user.ks" required>
              </mat-form-field>
            </div>
            <br>
            <div class="action-buttons-line">
              <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Свернуть</button>
              </mat-action-row>
            </div>
          </mat-expansion-panel>

        </mat-accordion>
  <br>
        <mat-action-row>
          <button mat-button matStepperPrevious>Назад</button>
          <button mat-button (click)="registration()">Зарегистрироваться</button>
        </mat-action-row>

      </mat-step>
    </mat-horizontal-stepper>
  </mat-card>
</mat-card-content>



<!--<button mat-raised-button (click)="isLinear = true" id="toggle-linear">Enable linear mode</button>
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step > &lt;!&ndash;[stepControl]="firstFormGroup"&ndash;&gt;
    <form > &lt;!&ndash;[formGroup]="firstFormGroup"&ndash;&gt;
      <ng-template matStepLabel>Личные данные</ng-template>
      <div class="form-group">
        <mat-form-field>
          <input type="text" matInput name="username" placeholder="Логин" [(ngModel)]="user.username" #username="ngModel" required />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput name="password" placeholder="Пароль" [(ngModel)]="user.password" #password="ngModel" required  />
          &lt;!&ndash;
                    <input matInput placeholder="Пароль" formControlName="password" type="password" required>
          &ndash;&gt;
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step > &lt;!&ndash;[stepControl]="secondFormGroup"&ndash;&gt;
    <form > &lt;!&ndash;[formGroup]="secondFormGroup"&ndash;&gt;
      <ng-template matStepLabel>Информация о себе</ng-template>
      <div class="form-group">
        <mat-form-field>
          <input type="text" matInput name="lastName" placeholder="Фамилия" [(ngModel)]="user.lastName" #lastName="ngModel" required />
&lt;!&ndash;
          <input matInput placeholder="Фамилия" formControlName="secondCtrl" required>
&ndash;&gt;
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput name="firstName" placeholder="Имя" [(ngModel)]="user.firstName" #firstName="ngModel" required  />
&lt;!&ndash;
          <input matInput placeholder="Имя" formControlName="secondCtrl" required>
&ndash;&gt;
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput name="middleName" placeholder="Отчество" [(ngModel)]="user.middleName" #middleName="ngModel" required  />
&lt;!&ndash;
          <input matInput placeholder="Отчество" formControlName="secondCtrl" required>
&ndash;&gt;
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <form > &lt;!&ndash;[formGroup]="secondFormGroup"&ndash;&gt;
    <ng-template matStepLabel>ssssssss</ng-template>
    <div class="form-group">
      <mat-form-field>
        <input type="text" matInput name="lastName" placeholder="Фамилия" [(ngModel)]="user.lastName" #lastName="ngModel" required />
        &lt;!&ndash;
                  <input matInput placeholder="Фамилия" formControlName="secondCtrl" required>
        &ndash;&gt;
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput name="firstName" placeholder="Имя" [(ngModel)]="user.firstName" #firstName="ngModel"  />
        &lt;!&ndash;
                  <input matInput placeholder="Имя" formControlName="secondCtrl" required>
        &ndash;&gt;
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput name="middleName" placeholder="Отчество" [(ngModel)]="user.middleName" #middleName="ngModel"  />
        &lt;!&ndash;
                  <input matInput placeholder="Отчество" formControlName="secondCtrl" required>
        &ndash;&gt;
      </mat-form-field>
    </div>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </form>
  <mat-step>
  </mat-step>
</mat-horizontal-stepper>-->

<!--                тут КОНЕЦ -->

<!--
<form (submit)="registration()" >
  <div class="form-group">
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.username" placeholder="Логин" name="username" (input)="user.username=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.password" placeholder="Пароль" name="password" (input)="user.password=$event.target.value"/>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.lastName" placeholder="Фамилия" name="lastName" (input)="user.lastName=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.firstName" placeholder="Имя" name="firstName" (input)="user.firstName=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.middleName" placeholder="Отчество" name="middleName" (input)="user.middleName=$event.target.value"/>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.unp" placeholder="Unp" name="middleName" (input)="user.unp=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.organization" placeholder="Organization" name="organization" (input)="user.organization=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.position" placeholder="Position" name="position" (input)="user.position=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.address" placeholder="Address" name="address" (input)="user.address=$event.target.value"/>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.rs" placeholder="Rs" name="rs" (input)="user.rs=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.ks" placeholder="Ks" name="ks" (input)="user.ks=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.bank" placeholder="Bank" name="bank" (input)="user.bank=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.bik" placeholder="Bik" name="bik" (input)="user.bik=$event.target.value"/>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput [ngModel]="user.phone" placeholder="Phone" name="phone" (input)="user.phone=$event.target.value"/>
    </mat-form-field>
  </div>
  <button mat-raised-button color="accent" type="submit">Зарегистрироваться</button>
</form>
-->
